* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17181f;
  color: #fff;
}

nav {
  text-align: center;
}
nav a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #30313d;
  border-radius: 10px;
  margin: 0.4rem 1rem;
}

main {
  width: 240px;
  margin: 10px auto;
  text-align: center;
  background-color: #30313d;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

form input {
  border: 2px solid #555;
  border-radius: 5px;
  background: gray;
  color: black;
  padding: 0.5rem;
  display: block;
  width: 100%;
  cursor: cell;
}

form button {
  background-color: #61dafb;
  border: 0;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

form input::placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

.text {
  margin-bottom: 1rem;
  padding: 0.6rem;
}

li {
  list-style-type: none;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  border: 2px solid #555;
  border-radius: 5px;
  background: gray;
  color: black;
  padding: 0.6rem;
  display: block;
  width: 100%;
  cursor: cell;
}

.edit-btn {
  background-color: #61dafb;
  border: 0;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}
